@model List<ArtGallery.Domain.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Products</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>

<div class=" btn-toolbar p-4 pt-10 border-top-0 bg-transparent" role="toolbar">
    <div class="text-center btn-group mr-5 me-5" role="group"><a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="Index">Back to Home Page</a></div>
    <div class="text-center btn-group mr-5 me-5" role="group"><a class="btn btn-outline-dark mt-auto" asp-controller="Products" asp-action="Create">Insert New Product</a></div>
</div>

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            var oldPrice = @item.ProductPrice + 200.00;

            if (i % 4 == 0)
            {
                @:<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            }
            if (i % 2 == 0)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@item.ProductImage" alt="Image for product!"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.ProductName</h5>
                                <p class="card-text">@item.ProductDescription</p>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $@item.ProductPrice.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-grey">
                            <div class="text-center">
                                <a asp-controller="Products" asp-action="AddProductToCart" asp-route-id="@item.Id" class="btn btn-outline-dark mt-auto">Add to Cart</a>
                                <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark mt-auto">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            if (i % 2 != 0)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="@item.ProductImage" alt="Image for product!"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.ProductName</h5>
                                <p class="card-text">@item.ProductDescription</p>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$@oldPrice.00</span>
                                $@item.ProductPrice.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-controller="Products" asp-action="AddProductToCart" asp-route-id="@item.Id" class="btn btn-outline-dark mt-auto">Add to Cart</a>
                                <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark mt-auto">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            if (i % 4 == 3)
            {
                @:</div>
            }
        }
    </div>
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>